extends customLayout

block append scripts
    script.
        function onTypeChanged() {
            var sel = $("#goalType").val();
            if(sel == "1") {
                onStepsTaken();
            } 
            if(sel == "2") {
                // weight loss
            }
            if(sel == "3") {
                onCheckin();
            }
            if(sel == "4") {
                onFootDistance();
            }
            if(sel == "5") {
                onBikingDistance();
            }
        }
        function onStepsTaken() {
            $("#labelA").text(" Take ");
            $("#labelB").text(" steps per ");
        }
        function onCheckin() {
            $("#labelA").text(" Checkin ");
            $("#labelB").text(" times per ");
        }
        function onFootDistance() {
            $("#labelA").text(" Walk or run ");
            $("#labelB").text(" miles per ");
        }
        function onBikingDistance() {
            $("#labelA").text(" Bike ");
            $("#labelB").text(" miles per ");
        }
        
block content
    h2 Create A Goal
    
    div(class="panel panel-default" style="max-width: 600px")
        .panel-body
            form(action="/addGoal",method="post",class="form-horizontal")
                .form-group
                    label(class="col-sm-4 control-label") Type of Goal
                    .col-sm-8
                        select(id="goalType",name="goalType",onchange="onTypeChanged()")
                            option(value=1) Steps Taken
                            option(value=2) Lose Weight
                            option(value=3) Check In
                            option(value=4) Walking or Running Distance
                            option(value=5) Bicycling Distance
                
                .form-group
                    label(class="col-sm-4 control-label") Goal Statement 
                    .col-sm-8
                        span I will
                        span#labelA Take
                        input(id="goalNumber",name="goalNumber",type="number",value="1",style="max-width: 8em")
                        span#labelB steps per
                        select(id="goalFreq",name="goalFreq",value="2")
                            option(value=1) Day
                            option(value=2) Week
                            option(value=3) Month
                            option(value=4) Year
                
                .form-group
                    div(class="col-sm-offset-4 col-sm-8")
                        input(type="submit",value="Create Goal")
            
    script.
        onTypeChanged();