extends customLayout

block append scripts
    link(rel='stylesheet', href='/css/bootstrap-datetimepicker.min.css')
    script(src='https://maps.googleapis.com/maps/api/js?libraries=places')
    script(src='http://momentjs.com/downloads/moment.min.js')

    // ALL OF THIS STYLE STUFF STRAIGHT FROM GOOGLE MAPS EXAMPLES
    style.
        .controls {
            margin-top: 16px;
            border: 1px solid transparent;
            border-radius: 2px 0 0 2px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            height: 32px;
            outline: none;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
          }
    
          #pac-input {
            background-color: #fff;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            margin-left: 12px;
            padding: 0 11px 0 13px;
            text-overflow: ellipsis;
            width: 400px;
          }
    
          #pac-input:focus {
            border-color: #4d90fe;
          }
    
          .pac-container {
            font-family: Roboto;
          }
    
          #type-selector {
            color: #fff;
            background-color: #4d90fe;
            padding: 5px 11px 0px 11px;
          }
    
          #type-selector label {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 300;
          }
          
    script.
        var map;
        var markers = [];
        var service;
        var infowindow;
        var searchBox;
        
        function handleBrowserGeolocation(position) {
            map.panTo(new google.maps.LatLng(position.coords.latitude, position.coords.longitude)); 
        }

        function initialize() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(handleBrowserGeolocation);
            } 
            
            var pyrmont = new google.maps.LatLng(-33.8665433,151.1956316);
            map = new google.maps.Map(document.getElementById('map'), {
                center: pyrmont,
                zoom: 15
            });
        
            infowindow = new google.maps.InfoWindow();
            service = new google.maps.places.PlacesService(map);
        
            // Add text search box to maps view
            var input = document.getElementById('pac-input');
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            // Get notified of search results
            searchBox = new google.maps.places.SearchBox(input);
            google.maps.event.addListener(searchBox, 'places_changed', onPlacesChanged);
            
            // Bias the SearchBox results towards places that are within the bounds of the
            // current map's viewport.
            google.maps.event.addListener(map, 'bounds_changed', function() {
                var bounds = map.getBounds();
                searchBox.setBounds(bounds);
            });
        }
        
        function onPlacesChanged() {
            var places = searchBox.getPlaces();
            handleResults(places);
        }
                
        function handleResults(places)
        {
            if(places.length == 0) {
                return;
            }
            clearMarkers();
            
            var bounds = new google.maps.LatLngBounds();
            for (var i = 0, place; place = places[i]; i++) {
                bounds.extend(place.geometry.location);
                handleResult(place);
            }
            map.fitBounds(bounds);
        }
        
        function handleResult(place) {
            var image = {
                url: place.icon,
                size: new google.maps.Size(71, 71),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(17, 34),
                scaledSize: new google.maps.Size(25, 25)
            };
        
            // Create a marker for each place.
            var marker = new google.maps.Marker({
                map: map,
                // icon: image,
                title: place.name,
                position: place.geometry.location
            });
            google.maps.event.addListener(marker, 'click', function() {
                infowindow.setContent(place.name);
                infowindow.open(map, this);
                markerClicked(place);
            });
        
            markers.push(marker);

            //var placeName = place.name;
            //var addr = place.formatted_address;
            //$("#results").append("<div class='row'><div class='col-md-6'>"+placeName+
            //    "</div><div class='col-md-6'>"+addr+"</div>");
          
        }
        
        function markerClicked(place) {
                $("#nameLabel").text(place.name);
                $("#addressLabel").text(place.formatted_address);
                $("#theform").show();
                $("#placeholder").hide();
                
                $("#name").val(place.name);
                $("#latitude").val(place.geometry.location.latitude);
                $("#longitude").val(place.geometry.location.longitude);
        }
        
        function clearMarkers()
        {
            $("#results").empty();
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(null);
            }
            markers=[];
            $("#theform").hide();
            $("#placeholder").show();
        }
        
        google.maps.event.addDomListener(window, 'load', initialize);
        
block content
    .container
        .row(style="min-height: 400px")
            .col-md-8(style="height: 100%;")
                    div(role="tabpanel")
                        ul(class="nav nav-tabs", role="tablist")
                            li(role="presentation")
                                a(href="#recent", aria-controls="recent",role="tab",data-toggle="tab") Recent
                            li.active(role="presentation")
                                a(href="#search", aria-controls="search",role="tab",data-toggle="tab") Search
    
                    // This stuff gets swapped into the right spots    
                    div(class="panel panel-default",style="width:100%; height:100%")
                        .tab-content
                            #search(class="tab-pane fade in active")
                                #map(style="min-height: 300px")
                                input(id="pac-input",type="text", class="controls", placeholder="Search Box")
                            #recent(class="tab-pane fade")
                                h2 Recent Locations
                        
            .col-md-4(style="height: 100%;")
                // Another tab panel for spacing
                div(role="tabpanel")
                    ul(class="nav nav-tabs", role="tablist")
                        li(role="presentation")
                            a(href="#details", aria-controls="details",role="tab",data-toggle="tab") Check-in Details
                .tab-content
                    #details(class="tab-pane active")
                        form(id="theform",action="/checkin",method="post",style="display:none",class="form-horizontal")
                            .form-group
                                label(class="col-sm-3 control-label",for="name") Where
                                .col-sm-9
                                    p#nameLabel(class="form-control-static")
                                    p#addressLabel(class="form-control-static")
                            .form-group
                                label(class="col-sm-3 control-label") When
                                .col-sm-9
                                    #createdDateGroup(class='input-group date')
                                        input(id="createdDate",name="createdDate",type="text",class="form-control",placeholder="Click to enter Date")
                                        span(class="input-group-addon")
                                            span(class="glyphicon glyphicon-calendar")
                            .form-group
                                input(id="name",type="hidden",name="name")
                                input(id="longitude",type="hidden",name="longitude")
                                input(id="longitude",type="hidden",name="latitude")
                            .form-group
                                div(class="col-sm-offset-3 col-sm-9")
                                    input(type="submit",id="submit",value="Checkin!")
                
                
    script(src='/scripts/bootstrap-datetimepicker.min.js')  
    script.
        $('#createdDateGroup').datetimepicker();
    