extends customLayout

block content
  h2 Create A Group

  form(action="/createGroup",method="post")
    div
      label Name
      input(type="text",name="name")

    div
      label Laditude
      input(type="number",name="laditude")

    div
      label Longitude
      input(type="number",name="longitude")
      
    //div
    //  label isPublic
    //  input(type="checkbox",name="isPublic")


    div
      input(type="submit",value="Register")