doctype html
html
  head
    title Rezzler
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/custom.css')
    block scripts
      script(src='/scripts/jquery-2.1.1.min.js')
  body
    include navbar

    .container-fluid
      block content
    script(src='/scripts/bootstrap.min.js')
