extends customLayout

block append scripts
  script(type='text/javascript').


block content
    .row
        .col-md-3
            div(class="panel panel-default")
                .panel-body(style="text-align:center")
                    img(src="/image/profile-guest.jpg")
                .panel-heading
                    h3(class="panel-title") Your Goals
                .panel-body
                    if goals
                        each g in goals
                            .row
                                .col-md-2
                                    a(href="/goal/#{g.id}") #{g.id}
                                .col-md-5
                                    - var typeDescr = [ '','Steps','WeightLoss','CheckIn','Walking and Running Distance', 'Biking Distance']
                                    p Type #{typeDescr[g.type]}
                                .col-md-5
                                    - var unitDescr = ['','Day','Week','Month','Year'];
                                    p #{g.freqCount} per #{unitDescr[g.freqUnit]}
                                    
                    else
                        p You don't have any goals yet. 
                .panel-footer
                    a(href="/addGoal") Make a Goal!
        
        .col-md-6
            each goal in goals
                if goal.progressCurrent
                    div(class="panel panel-default")
                        .panel-heading
                            h2(class="panel-title") Goal: #{goal.getName()}
                        .panel-body
                            - var unitDescr = ['','Day','Week','Month','Year'];
                            p For the current #{unitDescr[goal.freqUnit]}
                            .progress
                                div(class="progress-bar progress-bar-striped",role="progressbar",aria-valuenow="#{goal.progressCurrent.percentComplete}",aria-valuemin="0",aria-valuemax="100",style="min-width: 2em; width: #{goal.progressCurrent.percentComplete}%")
                                    | #{goal.progressCurrent.percentComplete.toFixed(0)} %
                            if goal.progressCurrent.sessions
                                p Recent Activity
                                each s in goal.progressCurrent.sessions
                                    .row
                                        .col-md-6
                                            p #{s.createdDateCalendarString()}
                                        .col-md-6
                                        case s.sessionType
                                            when 1
                                                p Took #{s.totalSteps} steps
                                            when 2
                                                p Checked-in at #{s.name}
                                            when 3
                                                p Biking
                                            default
                                                p Unknown session type

        .col-md-3
            div(class="panel panel-default")
                .panel-heading
                    h3(class="panel-title") Encouragement Posts
                .panel-body
                    p You don't have any encouragement.
            
            div(class="panel panel-default")
                .panel-heading
                    h3(class="panel-title") Your Groups
                .panel-body
                    if user.groups && user.groups.length > 0
                        .row
                            p You are in #{user.groups.length} groups
                        each g in user.groups
                            .row
                                .col-md-6   
                                    p Name #{g.name}
                                .col-md-6
                    else
                        p Join a group!
        