﻿extends customLayout

block content
    h2 Find some friends fool.

    form(action="/findAccountByName", method="post")
        .form-group
            label Name
            input(id="name", name="name", type="text")


        .form-group
            input(type="submit",value="Find Friend")