extends customLayout

block content
    div(class="panel panel-default")
        .panel-heading
            h1(class="panel-title") [Goal Name]

    .row
        div(class="col-md-2")
            div(class="panel panel-default")
                .panel-heading
                    h3(class="panel-title") Goal Info
                .panel-body
                    .row
                        .col-md-6
                            - var typeDescr = [ '','GpsTracking','WeightLoss','CheckIn']
                            p Type #{typeDescr[goal.type]}
                        .col-md-6
                            - var unitDescr = ['','Day','Week','Month','Year'];
                            p #{goal.freqCount} times per #{unitDescr[goal.freqUnit]}
                    .row
                        .col-md-6
                            p Started #{goal.startDate}
           
        div(class="col-md-6")
            div(class="panel panel-default")
                .panel-heading
                     h3(class="panel-title") Your Progress
                .panel-body
                    if goal.progressCurrent
                        - var unitDescr = ['','Day','Week','Month','Year'];
                        p For the current #{unitDescr[goal.freqUnit]}
                        .progress
                            div(class="progress-bar progress-bar-striped",role="progressbar",aria-valuenow="#{goal.progressCurrent.percentComplete}",aria-valuemin="0",aria-valuemax="100",style="min-width: 2em; width: #{goal.progressCurrent.percentComplete}%")
                                | #{goal.progressCurrent.percentComplete.toFixed(0)} %
                .panel-body
                    if sessions
                        each s in sessions
                            .row
                                .col-md-2
                                    a(href="/session/#{s.id}") #{s.id}
                                .col-md-5
                                    p #{s.createdDate}
                                .col-md-5
                                    - var typeDescr = [ '','GpsTracking','WeightLoss','CheckIn']
                                    p Type #{typeDescr[s.type]}
                        
                    else
                        p You don't have any related activity yet. 
                .panel-footer
                    a(href="/checkin") Checkin at a location
        
        div(class="col-md-4")
            div(class="panel panel-default")
                    .panel-heading
                         h3(class="panel-title") Encouragement Posts
    .row
        form(action="/deleteGoal",method="post")
                input(id="GoalId",name="GoalId",type="hidden",value="#{goal.id}")
                input(type="submit",value="Delete Goal")
