extends customLayout

block append scripts
  script(type='text/javascript').

    function doSearch() {
        
        //var lat = $('#lat').text();
        //var lng = $('#lng').text();
        var name = $('#name').val();
        var url = "/groups?";
        
        //if(lat > '') {
        //    url = url + "lat="+lat;
        //}
        
        //if(lng > '') {
        //    url = url + "lng="+lng;
        //}
        
        if(name > '') {
            url = url + "name="+name;
        }

        window.location = url;
    }

block content
  h2 Search Groups

  div
    div
      label Name
      input(type="text",id="name",value=nameValue)

    //div
    //  label Latitude
    //  input(type="number",id="lat")

    //div
    //  label Longitude
    //  input(type="number",id="lng")
      
    div
      input(type="submit",value="Search", onclick="doSearch()")
      
    if(results)
        div
            h3 Results
            p Found #{results.length} group(s)
            each result in results
                div
                    label ID
                    p= result.id
                    label Name
                    p= result.name