extend customLayout
block content
  p
    | Welcome to Rezzler!  Rez it up in here!
    if (user)
        p You are currently logged in as #{user.emailAddress}
    else
        p You are currently not logged in. Plaese login or register...
block sidebar
  .widget
    h1 Widget
    p
      | Sed auctor neque eu tellus rhoncus ut
      | eleifend nibh porttitor. Ut in nulla enim.
    p
      | Vivamus hendrerit arcu sed erat molestie
      | vehicula.