doctype html
html
  head
    title Passport Local Mongoose Login Example
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    block scripts
      script(src='/scripts/jquery.min.js')
      script(src='/scripts/bootstrap.min.js')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href="/") Example
          ul.nav
            if (typeof(user) == 'undefined')
              li
                a(href="/register") Register
              li
                a(href="/login") Log In
            else
              li
                a(href="/logout") Log Out

    .container
      block content