extends customLayout

block content
  h2 Log In
  
  form(action="/login",method="post")
    div
      label Username
      input(type="text",name="username")
    
    div
      label Password
      input(type="password",name="password")
    
    div
      input(type="submit",value="Log In")