nav(class='navbar navbar-default', role='navigation')
            .container-fluid
                .navbar-header
                    button(class='navbar-toggle', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sronly
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a(class='navbar-brand', href='/#') Rezzler
                #bs-example-navbar-collapse-1(class='collapse navbar-collapse')
                    ul(class='nav navbar-nav')
                        
                        li
                            a(href='/createGroup') Create Group
                        li
                            a(href='/checkin') Checkin
                        li
                            a(href='/joinGroups') Join Groups
                        if(user)
                            li
                                a(href='/find') Find Other Rezzlers
                            li
                                div#logoutsection.pull-right
                                    a#logout-btn.btn.btn-info.pull-right.top-bar-form-button(href='/logout') Logout
                                    p#loginprompt.pull-right.login-prompt #{user.username}
                                    small logged In
                        else
                            li
                                a(href='/register') Register
                            //a#signup-btn.btn.pull-right.top-bar-form-button(href='#signup-modal', data-toggle="modal") Sign Up
                            li
                                form.pull-right.form-horizontal.top-bar-form(action="/login", method="post", id="loginForm")
                                    input.input-small.top-bar-form-textbox(id="username", type="text", name="username", placeholder="Username")
                                    a
                                    input.input-small.top-bar-form-textbox(id="password", type="password", name="password", placeholder="Password")
                                    button.btn.btn-primary.top-bar-form-button(action="/login", type="submit", value="Sign In") Sign In