extends customLayout

block append scripts
    link(rel='stylesheet', href='/css/bootstrap-datetimepicker.min.css')
    script(src='http://momentjs.com/downloads/moment.min.js')

block content
    .container
        form(id="theform",action="/steps",method="post",class="form-horizontal")
            .form-group
                label(class="col-sm-3 control-label") When
                .col-sm-9
                    #createdDateGroup(class='input-group date')
                        input(id="createdDate",name="createdDate",type="text",class="form-control",placeholder="Click to enter Date")
                        span(class="input-group-addon")
                            span(class="glyphicon glyphicon-calendar")
            .form-group
                label(class="col-sm-3 control-label") Number of Steps
                .col-sm-9
                    input(id="steps",name="steps",type="number")
                    
            .form-group
                div(class="col-sm-offset-3 col-sm-9")
                    input(type="submit",id="submit",value="Checkin!")
                
                
    script(src='/scripts/bootstrap-datetimepicker.min.js')  
    script.
        $('#createdDateGroup').datetimepicker();
    