div.navbar.navbar-fixed-top.navbar-default
  div.navbar-inner
    div.container
      a.brand(href='/') Rezzler
        div.navbar-collapse
          ul.nav
            li.active
              a(href='/') Home
                li
                  a(href='/register') Register
                li
                  a(href='/contact') Contact
                -if(user)
                    li
                      a(href='/admin') Admin
                      
            -if(user)
                div#logoutsection.pull-right
                a#logout-btn.btn.btn-info.pull-right.top-bar-form-button(href='/logout') Logout
                p#loginprompt.pull-right.login-prompt #{session.user.username}
                small logged In
            -else
                //a#signup-btn.btn.pull-right.top-bar-form-button(href='#signup-modal', data-toggle="modal") Sign Up
                form.pull-right.form-horizontal.top-bar-form(action="/login", method="post", id="loginForm")
                input.input-small.top-bar-form-textbox(id="username", type="text", name="username", placeholder="Username")
                input.input-small.top-bar-form-textbox(id="password", type="password", name="password", placeholder="Password")
                button.btn.btn-primary.top-bar-form-button(type="submit", value="Sign In") Sign In